# Desktop PC / ROS 2 Humble
ROBOT_IP=192.168.0.22
GATEWAY_PORT=5000
HEARTBEAT_PERIOD_SEC=0.5
MAX_LINEAR_X=0.05
MAX_LINEAR_Y=0.05
MAX_ANGULAR_Z=0.20
RECONNECT_MIN_SEC=1.0
RECONNECT_MAX_SEC=5.0
SOCKET_TIMEOUT_SEC=0.2
MAX_LINE_BYTES=65536
