# Jetson Nano / ROS 2 Galactic
GATEWAY_BIND_HOST=0.0.0.0
GATEWAY_PORT=5000
HEARTBEAT_TIMEOUT_SEC=1.5
COMMAND_TIMEOUT_SEC=0.75
MAX_LINEAR_X=0.05
MAX_LINEAR_Y=0.05
MAX_ANGULAR_Z=0.20
STATE_PERIOD_SEC=0.2
SCAN_HEALTH_PERIOD_SEC=1.0
SCAN_STALE_SEC=2.0
SOCKET_TIMEOUT_SEC=0.2
MAX_LINE_BYTES=65536
